/* styles.css */

/* Base card styles */
.card {
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #fff; 
    
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 10px;
   


}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-align: center;
}

.btn-primary {
    width: 100%;
    padding: 10px;
}

/* Pizza specific styles */
.pizza-card {
    max-width: 100%;                                                                
    border-radius: 10px;/* Ensure full width for responsive design */
    
    background-color: #f8f9fa; 
    
}

.pizza-card img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pizza-card .card-title {
    font-size: 1rem; /* Adjust font size */
    text-align: center; /* Center align title for pizza cards */
}

.pizza-card .card-text {
    font-size: 15px; /* Adjust font size */
}

.pizza-card .price {
    font-size: 1.1rem;
}



/* Adjusting the button inside the pizza card */
.pizza-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* This centers the button */
    height: 100%; /* Ensure the card body fills the space */
}

.pizza-card .btn {
    width: 50%; /* Optional: Adjust width of button */
    display: block;
    text-align: center; /* Ensure text is centered inside the button */
    margin-bottom: 10px;
}
