/* Signin Page Styles */
.signin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    
  }
  
  .signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .signin-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #2575fc;
    outline: none;
  }
  
  .signin-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signin-btn {
    width: 100%;
    padding: 12px;
    background-color: #2575fc;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signin-btn:hover {
    background-color: #1d65cc;
  }
  
  .signin-footer p {
    margin-top: 10px;
    color: #777;
  }
  
  .signin-footer a {
    color: #2575fc;
    font-weight: bold;
    text-decoration: none;
  }
  
  .signin-footer a:hover {
    text-decoration: underline;
  }
  